{% extends 'single_pages/base.html' %}



{% block main_area %}
<div class="img-container">
    {% for p in landing_list2 %}
      <a>
          <img src="{{ p.intro_img.url }}" onclick="openDialog(this)" alt="Photo">
      </a>
  {% endfor %}
</div>
{% endblock %}

#expandedImg {
            width: 100%; /* 이미지의 너비를 100%로 설정 */
            height: auto; /* 높이를 자동으로 조정하여 가로 세로 비율을 유지함 */
            transition: all 0.5s;
        }

{% block dialog_area %}
<!--dialog-->
<div id="overlay">
    <div id="dialog" class="" onClick="closeDialog()">
        <img id="expandedImg" src="" alt="Photo">
    </div>
</div>
{% endblock %}